body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #352a80, #ffffff);

}

.container {
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.carousel-item img {
    max-height: 700px; /* Establece un alto máximo según sea necesario */
    width: 800px;
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#birthday-message {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}